* {
  box-sizing: border-box;
}

.content {
  background-image: url("donut_background.png");
  background-repeat: repeat;
  backdrop-filter: blur(3px);
  height: 100vh;
  padding-top: 6rem;
}

.boxes {
  display: flex;
  flex-wrap: wrap;

  list-style: none;
  width: 60%;
  margin-left: 20%;
  height: 30rem;
  padding-top: 4.5rem;
  padding-right: 3rem;
  background-color: rgb(255, 255, 255, 0.8);
  border-radius: 3%;
}

.boxes li {
  flex-shrink: 1;
  flex-grow: 1;
  margin: 0;
  padding: 0;
}

.box-left {
  width: 30%;
  text-align: center;
  padding-top: 5rem;
}

.box-right {
  width: 30%;
  padding-left: 2rem; /*not workingggggg, need space btw boxes*/
}

h2 {
  font-family: "Dancing Script", cursive;
  line-height: 1px; /*calismiyorrrrrrrrrrrrrrrrr*/
  font-size: 3rem; /*calismiyorrrrrrrrrrrrrrrrr*/
  margin-left: -2rem;
}
.donuts {
  margin-left: 5rem;
}

button {
  margin-top: 1rem; /*calismiyor*/
}

.submit {
  margin-top: 2rem;
}

p {
  padding: 2rem 1rem;
}

footer {
  color: #232323 !important; /*calismiyorrrrrrrrrrrrrrrrrrrrrrrrrrrrrr*/
}

.footer-text {
  margin: 0;
  padding: 0;
}
